.pic {
  // background-image: url("https://res.cloudinary.com/j163surf77/image/upload/v1533003199/samples/ecommerce/accessories-bag.jpg");
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.placeholder {
  // background-image: url("https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc8be37d913994b3540169a890e2242d&auto=format&fit=crop&w=1347&q=80");
  height: 300px;
  margin-bottom: 20px;
  width: 100%;
}
