<h3><%= current_user.first_name %> <%= current_user.last_name %> Bookings</h3>

<ul>
<% current_user.bookings.each do |booking| %>
  <li><%= booking.storage_space.title %> <%= link_to "Leave a review", storage_space_booking_path(booking.storage_space_id, booking.id) %></li>
<% end %>
</ul>
