<%= content_for(:title) do %>
Become a Storer
<% end %>

<div class="main-container top-container div-margin-bottom">
  <div class="container">
    <div class="container-text">
      <h5>How it all works</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  <div class="container">
    <div class="container-text picture-frontpage">
      <%= image_tag "maique-madeira-256088-unsplash.jpg" %>
    </div>
  </div>
</div>

<div class="main-container div-margin-bottom">
  <div class="container">
    <div class="container-text picture-frontpage">
      <%= image_tag "maique-madeira-256088-unsplash.jpg" %>
    </div>
  </div>
  <div class="container">
    <div class="container-text">
      <h5>storing special items?</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>

<div class="main-container div-margin-bottom">
  <div class="container">
    <div class="container-text">
      <div>
      <h5>Professional Storage</h5>
      </div>
      <div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-text picture-frontpage">
      <%= image_tag "maique-madeira-256088-unsplash.jpg" %>
    </div>
  </div>
</div>
