.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 50px;
  opacity: 0.8;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
