.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  background-image: 75%;
  color: black;
  position: relative;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 0.5px #e2e2e2 solid;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-footer {
  padding: 10px;
  height: 90px;
  font-size: 11px;
  border-radius: 5px;
  border: 0.5px #e2e2e2 solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description p {
  font-size: 12px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  border-radius: 3px;
  margin-bottom: 0px;
}
.card-link:hover {
  opacity: 0.03;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {}
