.dashboard-bgc {
  background: white;
  min-height: 300px;
}

.dashboard-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-centering-second {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.ul {
  list-style-type: none;
}

.user-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.user-margin {
  margin-bottom: 20px;
}

.user-margin-top {
  margin-top: 20px;
}

.dashboard-left {
  align-items: left;
  justify-content: left;
  text-align: left;
}
