.dashboard-bgc {
  background: white;
  min-height: 300px;
}

.dashboard-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-centering-second {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.ul {
  list-style-type: none;
}
